{% extends 'base.html' %}

{% block contents %}
{% load bootstrap5 %}
<div class="w-50 mx-auto border border-grey rounded p-5 pt-3 my-5">
    <h1>CREATE</h1>
    <hr>
    <form class="pt-2" action="{% url 'movies:create' %}" method='POST'>
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="d-flex justify-content-between">
            <input class="btn btn-primary" type="submit" value="Submit">
            <a class="btn btn-danger" href="{% url 'movies:index' %}">Back</a>
        </div>
    </form>
</div>


{% endblock contents %}