{% extends 'base.html' %}

{% block contents %}
{% load bootstrap5 %}
<div class="w-50 mx-auto border border-grey rounded p-5 pt-3 my-5">
    <h1>UPDATE</h1>
    <hr>
    <form action="{% url 'movies:update' movie.pk %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="d-flex justify-content-between">
            <input class="btn btn-danger" type="reset" value="Reset">
            <input class="btn btn-primary" type="submit" value="Submit">
        </div>
        <hr>
    </form>
    <a href="{% url 'movies:detail' movie.pk %}" class=""> BACK</a>
</div>
{% endblock contents %}