{% extends 'base.html' %}

{% block contents %}
{% load bootstrap5 %}
<div class="w-50 mx-auto border border-grey rounded p-5 pt-3 my-5">
    <h1>로그인</h1>
    <form action="{% url 'accounts:login' %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="d-flex justify-content-between">
            <input class="btn btn-primary" type="submit" value="로그인">
            <a class="btn btn-success" href="{% url 'accounts:signup' %}">회원가입하러 가기</a>
        </div>
    </form>
    <hr>
    <a href="{% url 'movies:index' %}">돌아가기</a>
</div>
{% endblock contents %}